#back {
  width:101%;
  position:absolute;
  left:0;
  top:0;
  z-index:0;
}

#overlay {
  width:101%;
  position:absolute;
  left:0;
  top:0;
  z-index:1;
}

#dashboard {
  width:101%;
  position:absolute;
  left:0;
  bottom:0;
  z-index:3;
}

#obstacles * {
  z-index: 2;
}
